<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/groupProject/stylesheet/login.css">
    <title>Document</title>
</head>
<body>
    
    <div class="login-title">
        <h2 class="login-header">Login</h1>
    </div>
    <div class="main-section">
        <div class="left-part">
            <div class="left-section">
                <h1 class="left-title">New to our Shop?</h1>
                <p class="left-p">There are advances being made in science and technology everyday, and a good example of this is the</p>
                <button class="main-button">CREATE AN ACCOUNT</button>
            </div>
            

        </div>

        <div class="right-part">
            <div class="right-section">
                <div class="right-titles">
                    <h1 class="right-title">Welcome Back !</h1>
                    <h1 class="right-title">Please Sign in now</h1>
                </div>
                <form class="login-form">
                    <input type="text" placeholder="Username">
                    <input type="password" placeholder="Password">
                    <div class="remember-me">
                        <input type="checkbox" name="remember" class="check">
                        <label> Remember me</label>
                    </div>
                    <button class="login-button">LOG IN</button>
                </form>
                <div class="forget">
                    <a href="" class="forget-link">Forget Password?</a>
                </div>
                
            
            </div>
        </div>
    </div>
    

</body>
</html>